<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="im.boddy.MuteTime3"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MuteTimeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="im.boddy.MuteTime3.MuteReceiver"/>
        <receiver android:name="im.boddy.MuteTime3.UnMuteReceiver"/>
    </application>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>
